<div class = "container-fluid">
  <div class = "row">
    <div class = "page-title">
      <h2 class = "text-center mt-5">メールアドレス・パスワード変更</h2>
      <p class = "text-center mt-3">メールアドレス・パスワードの変更を行えます!!</p>
    </div>
    <div class = "user-main-image">
      <div class = "main-image-mask w-100"></div>
    </div>
  </div>
  <div class = "row">
    <div class = "mx-auto px-5 py-4">
      <h3 class = "user-edit-title px-5 py-1">メールアドレス・パスワード変更</h3>
      <%= form_with model: @user, url: update_user_registration_path, method: :patch, local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group mt-5">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group mt-3">
          <%= f.label :password %> <i>(変更しない場合は何も入力しないでください)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %>文字以上</em>
          <% end %>
        </div>

        <div class="form-group mt-3">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group mt-3">
          <%= f.label :current_password %> <i>(現在のパスワードを入力してください)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <div class="form-group mt-5">
          <%= f.submit "変更", class: "btn btn-outline-success btn-block" %>
        </div>
      <% end %>
  </div>
</div>
