<div class = "container-fluid">
  <div class = "row">
    <div class = "page-title">
      <h2 class = "text-center mt-5">ユーザー情報編集</h2>
      <p class = "text-center mt-3">ユーザー情報の変更を行えます!!</p>
    </div>
    <div class = "user-main-image">
      <div class = "user-main-image-mask w-100"></div>
    </div>
  </div>
  <div class = "row mx-5 pt-3">
    <div class = "col-5">
      <%= attachment_image_tag @user, :profile_image, fallback: "no_image.png", class: "w-100", id: "profile-image-preview" %>
    </div>
    <div class = "col-7 mt-5">
      <%= render 'layouts/error', obj: @user %>
      <%= form_with model: @user, local: true do |f| %>
        <div class = "form-group">
          <%= f.label :name, "名前" %><br />
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class = "form-group mt-5">
          <%= f.label :introduction, "自己紹介" %><br />
          <%= f.text_area :introduction, class: "form-control" %>
        </div>
        <div class = "form-group mt-5">
          <%= f.label :profile_image, "プロフィール画像" %><br />
          <%= f.attachment_field :profile_image %>
        </div>
        <div class = "form-group mt-5">
          <%= f.submit "変更", class: "btn btn-outline-success btn-block" %>
        </div>
      <% end %>
      <div class = "text-right">
        <%= link_to "退会", user_path(@user.id), method: :delete, class: "btn btn-outline-danger", "data-confirm" => "本当に退会しますか?" %>
      </div>
    </div>
  </div>
</div>