<div class = "d-flex flex-wrap justify-content-center pt-3">
  <% posts.each do |post| %>
    <div id = "post_<%= post.id %>" class = "post-content mx-4 mb-4 pb-2">
      <div class = "post-image">
        <%= attachment_image_tag post, :image, size: "300x250", fallback: "no_image.png" %>
        <%= link_to "詳細へ", post_path(post.id), class: "px-3 py-2 post-show-link" %>
      </div>
      <div class = "row pl-1">
        <p class = "col-4 mb-0">投稿者:</p>
        <p class = "col-8 mb-0"><%= link_to post.user.name, user_path(post.user.id) %></p>
      </div>
      <div class = "row pl-1">
        <p class = "col-4 mb-0">タイトル:</p>
        <p class = "col-8 mb-0"><%= post.title %></p>
      </div>
      <div class = "row pl-1">
        <p class = "col-4 mb-0">タグ:</p>
        <p class = "col-7 mb-0 tag-content mr-1">
          <% post.tags.each do |tag| %>
            <%= link_to tag.name, tag_search_path(tag.id), class: "tag mx-1" %>
          <% end %>
        </p>
      </div>
      <div class = "pl-1">
        <span class = "favorite"><%= render 'favorites/favorite', post: post %></span>
        <i class="fas fa-comment ml-3"><%= post.comments.count %></i>
      </div>
    </div>
  <% end %>
</div>