<div class = "container-fluid">
  <div class = "row">
    <div class = "page-title">
      <h2 class = "text-center mt-5">投稿編集</h2>
      <p class = "text-center mt-3">投稿内容の変更ができます!!</p>
    </div>
    <div class = "post-main-image">
      <div class = "main-image-mask w-100"></div>
    </div>
  </div>
  <div class = "row ml-5 pt-3">
    <%= link_to "投稿詳細に戻る", post_path(@post.id) %>
  </div>
  <div class = "row mx-5 pt-3">
    <div class = "col-6">
      <%= attachment_image_tag @post, :image, class: "w-100", id: "preview", fallback: "no_image.png" %>
    </div>
    <div class = "col-6">
      <%= render 'layouts/error', obj: @post %>
      <%= form_with model: @post, local: true do |f| %>
        <div class = "form-group">
          <%= f.label :title, "タイトル" %><br />
          <%= f.text_field :title, class: "form-control", placeholder: "20文字以内" %>
        </div>
        <div class = "form-group">
          <%= f.label :description, "説明" %><br />
          <%= f.text_area :description, rows:10, class: "form-control" %>
        </div>
        <div class = "form-group">
          <%= f.label :image, "画像" %><br />
          <%= f.attachment_field :image %>
        </div>
        <div class = "form-group">
          <%= f.label :name, "タグ" %><br />
          <%= f.text_field :name, class: "form-control", value: @tag_list %>
        </div>
        <div class = "form-group mx-5">
          <%= f.submit "変更を保存", class: "btn btn-outline-info btn-block" %>
        </div>
      <% end %>
      <div class = "text-right">
        <%= link_to "投稿を削除", post_path(@post.id), method: :delete, class: "btn btn-outline-danger" %>
      </div>
    </div>
  </div>
</div>