<div class = "container-fluid">
  <div class = "row">
    <div class = "page-title">
      <h2 class = "text-center mt-5">新規投稿</h2>
      <p class = "text-center mt-3">家でやって良かったことを共有しましょう!!</p>
    </div>
    <div class = "post-main-image">
      <div class = "main-image-mask w-100"></div>
    </div>
  </div>
  <div class = "row mx-5 pt-3">
    <div class = "col-6">
      <%= attachment_image_tag @post, :image, class: "w-100", id: "preview", fallback: "no_image.png" %>
    </div>
    <div class = "col-6">
      <%= render 'layouts/error', obj: @post %>
      <%= form_with model: @post, local: true do |f| %>
        <div class = "form-group">
          <%= f.label :title, "タイトル" %><br />
          <%= f.text_field :title, class: "form-control", placeholder: "20文字以内" %>
        </div>
        <div class = "form-group">
          <%= f.label :description, "説明" %><br />
          <%= f.text_area :description, rows: 10, class: "form-control" %>
        </div>
        <div class = "form-group">
          <%= f.label :image, "画像" %><br />
          <%= f.attachment_field :image %>
        </div>
        <div class = "form-group">
          <%= f.label :name, "タグ" %><br />
          <%= f.text_field :name, class: "form-control" %>
          <p class = "text-secondary">*「 , 」で区切ることにより、複数のタグを設定できます</p>
        </div>
        <div class = "form-group mx-5">
          <%= f.submit "投稿する", class: "btn btn-outline-info btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>