<div class = "container-fluid" id = "post_<%= @post.id %>" >
  <div class = "row">
    <div class = "page-title">
      <h2 class = "text-center mt-5">投稿詳細</h2>
      <p class = "text-center mt-3">投稿内容の詳細が確認できます!!</p>
    </div>
    <div class = "post-main-image">
      <div class = "main-image-mask w-100"></div>
    </div>
  </div>
  <div class = "row mx-5 py-3">
    <div class = "col-6">
      <%= attachment_image_tag @post, :image, class: "w-100", fallback: "no_image.png" %>
    </div>
    <div class = "col-6 mt-3 user-show-text">
      <div class = "row mt-3">
        <h6 class = "col-3"><strong>タイトル</strong></h6>
        <p class = "col-9"><%= @post.title %></p>
      </div>
      <div class = "row mt-3">
        <h6 class = "col-3"><strong>説明</strong></h6>
        <p class = "col-9 white-space description-field"><%= @post.description %></p>
      </div>
      <div class = "row mt-3">
        <h6 class = "col-3"><strong>タグ</strong></h6>
        <p class = "col-9">
          <% @post.tags.each do |tag| %>
          <%= link_to tag.name, tag_search_path(tag.id), class: "tag" %>
          <% end %>
        </p>
      </div>
      <div class = "row mt-3">
        <h6 class = "col-3"><strong>投稿日</strong></h6>
        <p class = "col-9"><%= @post.created_at.strftime('%Y年%m月%d日') %></p>
      </div>
      <div class = "row mt-3">
        <h6 class = "col-3"><strong>投稿者</strong></h6>
        <p class = "col-9">
          <%= link_to user_path(@post.user.id) do %>
            <%= @post.user.name %>
          <% end %>
        </p>
      </div>
      <div class = "mt-2 ml-1">
        <span class = "favorite"><%= render 'favorites/favorite', post: @post %></span>
        <i class="fas fa-comment ml-3 mb-4 comments-count"><%= @post.comments.count %></i>
      </div>
      <div class = "row ml-1 mt-4 px-5 w-100 user-edit-button">
        <% if @post.user == current_user %>
          <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-outline-info btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class = "row d-flex flex-column w-50 mx-auto mt-5">
    <h4 class = "text-center underline-green">コメント</h4>
    <div class = "comments w-100">
      <%= render 'comments/comment', post: @post %>
    </div>
    <div class = "comment-form">
      <%= form_with model:[@post, @comment] do |f| %>
        <%= f.text_area :content, rows: "3", placeholder: "コメントをここに(空のコメントは送信できません)", class: "form-control" %>
        <%= f.submit "送信", class: "btn btn-outline-success btn-block" %>
      <% end %>
    </div>
  </div>
</div>